# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
t1.h
Tema1.cbp
Tema1.layout
obj/Debug/main.o
bin/Debug/Tema1.exe
*.depend
main.exe
*.o
ip1.cbp
*.exe
IP1/IP1.vcxproj
*.filters
*.obj
IP1/Debug/vc140.idb
*.pdb
*.tlog
IP1/Debug/IP1.log
*.opendb
IP1.VC.db
*.ilk
.vs/main/v14/.suo
*.suo
IP1.sln
